<h1 style="text-align: center; font-family:Arial, Helvetica;">Restablecer password</h1>

<p style="font-family: Arial, Helvetica;">Hola, has solicitado restablecer tu password, haz click en el siguiente enlace, este enlace es temporal, si vence es necesario que vuelvas a soliciar otro.</p>

<a href="{{resetUrl}}" style="
    display:block;
    font-family:Arial, Helvetica;
    padding: 1rem;
    background-color:aqua;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration: none;">Restablecer Password</a>

    <p style="font-family: Arial, Helvetica;">Si no puedes acceder a este enlace, visita: {{resetUrl}}</p>
    <p style="font-family: Arial, Helvetica;">Si no solicitaste este email, puedes ignorarlo</p>